html {
    scroll-behavior: smooth;
    
  }

#cube {
    border: 1px solid white;    
    background-color: transparent;
    border-radius: 0px;
    width: 0.8vw;
    height: 0.8vw;
    position: static;
    margin: 0;
    display: block;
}


/* 
li:hover + #cube { background-color: yellow; } */

/* ul:hover {
    background-color: seagreen;
} */


.active:hover>#cube, .active:focus>#cube {
    background-color: white;
}





/* #cube:visited {
    background-color: green;
}
.fp-tooltip:visited {
    background-color: green;
} */




ul {
    list-style-type: none;
}
a:hover {
    text-decoration: none;
    
}

#fp-nav {position:fixed;top:40%}


/* .moved {
    transform: translate(10px, 10px);
    background-color: pink;
        font-family: arial,helvetica,sans-serif;
  } */

#fp-nav{right:1.308vw}

.fp-tooltip {
    right: 0px;
    width: fit-content;
    height:fit-content;
    border: 1px solid white;
    box-sizing: border-box;
    font-family: helvetica;
    font-size: 0.923vw;
    color: black;
    text-decoration: none;
    position: relative;
    bottom: 1.077vw;
    border-radius: 0px;
    cursor: pointer;
    background-color: white;
    opacity:0
}


.fp-tooltip:hover {cursor: pointer;opacity:1; transition: right .4s;
    transition-timing-function: ease-in-out;
      right: 1.538vw; }


#fp-nav ul li {display:block;width:2px;height:11px;margin:7px}

.one {
    background-image: url(https://www.tatasteel.com/media/9886/tata-bearings.jpg) ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
   
}


.two {
    background-image: url(https://www.tatasteel.com/media/3932/global_presence_bg2.jpg) ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.three {
    background-color: rgb(134, 145, 167);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.four {
    background-image: url(https://www.tatasteel.com/images/investor_bg.jpg) ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.one >h2 {
    font-size: 3.846vw;
    position: relative;
    left: 36.462vw;
    top: 34vh;
}





.sresult {
    color:black; background:white;width:28.462vw;margin:0vw;height:5.5vh;border-radius: 4px;
    font-size: 14px; font-style:normal; text-align: left;
    vertical-align: sub;
     position: relative;left: 39.769vw;top: 37.143vh;
     
}

